<!DOCTYPE html>
<html>
<head>
    <title>SecureCloud Tourist API</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>Tourist Spot Explorer</h1>

        <p>Search tourist destinations across India</p>

        <input
            type="text"
            id="cityInput"
            placeholder="Enter city name"
        >

        <button onclick="searchCity()">
            Search
        </button>

        <div id="results"></div>

    </div>

    <script src="/static/script.js"></script>

</body>
</html>
